@charset "UTF-8";
/* CSS Document */

body{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
}

#instruct{
	display: flex;
	font-size: large;
	margin: .5em;
}

